
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="apps-outline" color="primary" class="text-xl"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Scanlob</ion-title>
    <ion-buttons slot="end" routerLink="/cart-page">
      <ion-button>
        <app-cart-icon></app-cart-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item class="ion-margin-bottom" lines="none" >
    <ion-icon name="settings" slot="start" size="small" color="dark"></ion-icon>
    <ion-label>
      <ul>
        <li>
          <div class="text-xl">Produits Pedus</div>
        </li>
        <li><span class="text-note">Liste des Produits</span></li>
      </ul>
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row *ngIf="lossProducts$ | async as lossProducts">

      <ion-col size="12" *ngFor="let product of lossProducts" [routerLink]="product.id">
        <ion-card color="light" id="card_transparent" class="rounded ion-no-margin ion-no-padding ion-margin-top">
          <ion-card-content class="ion-no-margin ion-no-padding">
            <div class="flex ion-align-items-start h-28 ion-justify-content-between">
              <div class="w-28 h-28 ion-margin-end">
                <img [src]="fsUrl + product.product.imgs_urls[0]" class="w-full h-28 rounded" />
              </div>
              <div class="flex-1 flex flex-col ion-justify-content-between h-28 ion-padding-top ion-padding-bottom">
                <div>
                  <span class="text-note">
                    {{product.product.category.name}} {{product.product.sub_category.name}}
                  </span>

                  <div class="text-sm font-bold">
                    {{product.product.name}}
                  </div>
                  <span class="text-note">
                    {{product.location.adminAreaLevel1}} {{product.location.adminAreaLevel2}}
                  </span><br>
                  <span class="text-note">
                    {{product.location.locality}}
                  </span>
                </div>
                <span class="text-sm font-bold">
                  {{product.created_at}}
                </span>

              </div>

            </div>
          </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
