
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="apps-outline" color="primary" class="text-xl"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Panier</ion-title>
    <ion-buttons slot="end"  routerLink="/tabs/cart-page">
      <ion-button>
        <app-cart-icon></app-cart-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item class="ion-margin-bottom" lines="none" >
    <ion-icon name="cart" slot="start" size="small" color="dark"></ion-icon>
    <ion-label>
      <ul>
        <li>
          <div class="text-xl">Panier</div>
        </li>
        <li><span class="text-note">Liste des Produits</span></li>
      </ul>
    </ion-label>
  </ion-item>
  <ion-grid *ngIf="products$ |async as products">
    <ion-row>
      <ion-col size="12" *ngFor="let product of products">
        <ion-card color="light" id="card_transparent" class="rounded ion-no-margin ion-no-padding ion-margin-top">
          <ion-card-content class="ion-no-margin ion-no-padding">
            <div class="flex ion-align-items-start h-28 ion-justify-content-between">
              <div class="w-28 h-28 ion-margin-end">
                <img src="../../../assets/pro.jpg" class="w-full h-28 rounded" />
              </div>
              <div class="flex-1 flex flex-col ion-justify-content-between h-28 ion-padding-top ion-padding-bottom">
                <div>
                  <span class="text-note">
                    <!-- {{product.category.name}} {{product.sub_category.name}} -->
                  </span>

                  <div class="text-sm font-bold ion-margin-bottom">{{product.name}}</div>

                  <div class="flex ion-align-items-center">
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                  </div>


                </div>
                <span class="text-lg font-bold">{{product.price}} €</span>

              </div>


            </div>
            <div class="flex ion-justify-content-end">
              <ion-button color="danger" class="ion-margin-top" (click)="removeItemFromCart(product.id)" size="small">
                <ion-icon name="trash" slot="start"></ion-icon>
                <ion-label >
                  Supprimer
                </ion-label>
              </ion-button>
            </div>
          </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-card class="ion-margin-top ion-margin-bottom">
    <ion-card-header>
      <ion-card-title>
        Total
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="flex ion-justify-content-between">
        <span class="text-note">Total HT</span>
        <span class="text-note">{{total}} €</span>
      </div>
      <div class="flex ion-justify-content-between ion-margin-top">
        <span class="text-note">TVA</span>
        <span class="text-note">20%</span>
      </div>
      <div class="flex ion-justify-content-between ion-margin-top">
        <span class="text-note">Total TTC</span>
        <span class="text-note">{{totalTTC}} €</span>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="number != 0" class="ion-margin-top" color="primary" routerLink="/tabs/checkout" expand="block" size="large" mode="ios">
    <ion-icon name="card" slot="start"></ion-icon>
    <ion-label >
      Commander maintenant
    </ion-label>
  </ion-button>


</ion-content>
