ion-content{
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
}
ion-card-content{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
ion-card#wrapper{
  margin: 8px;
  width: 100%;
}
ion-toolbar{
  padding: 0px;
  --padding-top: 0px !important;
  --background: transparent !important;
}
#box{
  height: 100%;
  width: 100%;
}
.margin-top-150{
  margin-top: 150px;
}
.hidden{
  display: none;
}
