<ion-content [fullscreen]="true" color="warning">
  <ion-card mode="ios" id="wrapper">
    <ion-card-content>
      <!-- header -->
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button>
              <ion-icon
                name="apps-outline"
                color="primary"
                class="text-xl"
              ></ion-icon>
            </ion-menu-button>
          </ion-buttons>
          <ion-title>Mes Produits</ion-title>
          <ion-buttons slot="end" routerLink="/tabs/cart-page">
            <ion-button>
              <app-cart-icon></app-cart-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
        <ion-icon name="cube" slot="start" size="small" color="dark"></ion-icon>
        <ion-label>
          <ul>
            <li>
              <div class="text-xl">Objets trouvés</div>
            </li>
            <li><span class="text-note">liste des objets trouvés</span></li>
          </ul>
        </ion-label>
      </ion-item>

      <!-- <ion-button
        class="ion-margin-top ion-margin-bottom"
        type="submit"
        expand="block"
        size="large"
        color="warning"
        routerLink="declaration"
      >
        Déclaration perte
      </ion-button> -->

      <ion-list lines="none" *ngIf="products$ | async as products">
        <!--   -->
        <ion-item-sliding
          class="ion-margin-bottom"
          *ngFor="let product of products"
          [routerLink]="product.id"
        >
          <ion-item
            color="primary"
            class="ion-margin-bottom"
            lines="none"
            detail="false"
          >
            <ion-avatar slot="start">
              <img [src]="fsUrl + product.imgs_urls[0]" />
            </ion-avatar>
            <ion-label>
              <ul>
                <li>
                  <div class="text-xl">
                    <span> {{ product.name }}</span>
                  </div>
                </li>
                <li class="flex ion-justify-content-between">
                  <span class="text-note-white">{{
                    product.category.name
                  }}</span>
                  <span class="text-note-white">{{ product.uuid }}</span>
                </li>
              </ul>
            </ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="deleteProduct(car.id)"
              >Supprimer</ion-item-option
            >
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
