<ion-content [fullscreen]="true" color="warning">
  <ion-card mode="ios" id="wrapper">
    <ion-card-content>

      <ion-header [translucent]="true">
        <ion-toolbar class="ion-margin-bottom">
          <ion-buttons slot="start">
            <ion-menu-button>
              <ion-icon name="apps" color="primary" class="text-xl"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
          <ion-title>Boîte de réception</ion-title>
          <ion-buttons slot="end" routerLink="/tabs/cart-page">
            <ion-button>
              <app-cart-icon></app-cart-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-list *ngIf="chatrooms">
        <ion-item-sliding *ngFor="let chatroom of chatrooms">
          <ion-item color="light" class="ion-margin-bottom" [routerLink]="chatroom.id">
            <ion-avatar slot="start">
              <img src="../../../../assets/avatar.png">
            </ion-avatar>
            <ion-label>
              <ul>
                <li class="flex items-center ion-justify-content-between">
                  <div class="text-md ion-margin-bottom">
                    {{chatroom.name}}
                  </div>
                  <div class="text-note">
                    {{chatroom.created_at}}
                  </div>
                  <li>
                    <div class="text-note" *ngIf="chatroom.messages.length == 0">
                      Pas encore de message
                    </div>
                    <div class="text-note" *ngIf="chatroom.messages.length > 0">
                      {{chatroom.messages[0].body}}
                    </div>
                  </li>
              </ul>
            </ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="delt(item)">Supprimer</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>



    </ion-card-content>
  </ion-card>
</ion-content>
