<ion-content [fullscreen]="true" color="warning">
  <ion-card mode="ios" id="wrapper">
    <ion-card-content>

      <ion-header [translucent]="true">
        <ion-toolbar class="ion-margin-bottom">
          <ion-buttons slot="start">
            <ion-menu-button>
              <ion-icon name="apps" color="primary" class="text-xl"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
          <ion-title>Boîte de réception</ion-title>
          <ion-buttons slot="end" routerLink="/cart-page">
            <ion-button>
              <app-cart-icon></app-cart-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-item-sliding>
        <ion-item color="light" class="ion-margin-bottom">
          <ion-avatar slot="start">
            <img src="../../../../assets/avatar.png">
          </ion-avatar>
          <ion-label>
            <ul>
              <li class="flex items-center ion-justify-content-between">
                <div class="text-md ion-margin-bottom">Ymen Sai</div>
                <div class="text-note">
                  14:00
                </div>
                <li>
                  <div class="text-note">
                    Lorem ipsum, dolor sit amet consectetur
                  </div>
                </li>
            </ul>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Supprimer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item color="light" class="ion-margin-bottom">
          <ion-avatar slot="start">
            <img src="../../../../assets/avatar.png">
          </ion-avatar>
          <ion-label>
            <ul>
              <li class="flex items-center ion-justify-content-between">
                <div class="text-md ion-margin-bottom">Foulen</div>
                <div class="text-note">
                  14:00
                </div>
                <li>
                  <div class="text-note">
                    Lorem ipsum, dolor sit amet consectetur
                  </div>
                </li>
            </ul>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Supprimer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item color="light" class="ion-margin-bottom">
          <ion-avatar slot="start">
            <img src="../../../../assets/avatar.png">
          </ion-avatar>
          <ion-label>
            <ul>
              <li class="flex items-center ion-justify-content-between">
                <div class="text-md ion-margin-bottom">foulena</div>
                <div class="text-note">
                  14:00
                </div>
                <li>
                  <div class="text-note">
                    Lorem ipsum, dolor sit amet consectetur
                  </div>
                </li>
            </ul>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Supprimer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item color="light" class="ion-margin-bottom">
          <ion-avatar slot="start">
            <img src="../../../../assets/avatar.png">
          </ion-avatar>
          <ion-label>
            <ul>
              <li class="flex items-center ion-justify-content-between">
                <div class="text-md ion-margin-bottom">Ymen Sai</div>
                <div class="text-note">
                  14:00
                </div>
                <li>
                  <div class="text-note">
                    Lorem ipsum, dolor sit amet consectetur
                  </div>
                </li>
            </ul>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Supprimer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item color="light" class="ion-margin-bottom">
          <ion-avatar slot="start">
            <img src="../../../../assets/avatar.png">
          </ion-avatar>
          <ion-label>
            <ul>
              <li class="flex items-center ion-justify-content-between">
                <div class="text-md ion-margin-bottom">Ahmed</div>
                <div class="text-note">
                  14:00
                </div>
                <li>
                  <div class="text-note">
                    Lorem ipsum, dolor sit amet consectetur
                  </div>
                </li>
            </ul>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Supprimer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item color="light" class="ion-margin-bottom">
          <ion-avatar slot="start">
            <img src="../../../../assets/avatar.png">
          </ion-avatar>
          <ion-label>
            <ul>
              <li class="flex items-center ion-justify-content-between">
                <div class="text-md ion-margin-bottom">John</div>
                <div class="text-note">
                  14:00
                </div>
                <li>
                  <div class="text-note">
                    Lorem ipsum, dolor sit amet consectetur
                  </div>
                </li>
            </ul>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Supprimer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item color="light" class="ion-margin-bottom">
          <ion-avatar slot="start">
            <img src="../../../../assets/avatar.png">
          </ion-avatar>
          <ion-label>
            <ul>
              <li class="flex items-center ion-justify-content-between">
                <div class="text-md ion-margin-bottom">Janette</div>
                <div class="text-note">
                  14:00
                </div>
                <li>
                  <div class="text-note">
                    Lorem ipsum, dolor sit amet consectetur
                  </div>
                </li>
            </ul>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Supprimer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


    </ion-card-content>
  </ion-card>
</ion-content>
