<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/tabs/chat">
      <ion-button>
        <ion-icon name="chevron-back" color="primary" class="text-xl"></ion-icon>
      </ion-button>
    </ion-buttons>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="../../../../../assets/avatar.png">
        </ion-avatar>
        <ion-label class="ion-no-margin" *ngIf="authUser">
          <ul>
            <li>
              <div class="text-md">{{authUser.user.name}}</div>
            </li>
            <!-- <li>
              <div class="text-note">en ligne</div>
            </li> -->
          </ul>
        </ion-label>
      </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <!-- SCANLOB note message -->
    <div class="note-message">
      <div class="note-message-content">
        <div>
          <div class="text-md ion-margin-bottom">
            Bienvenue Ahmed
          </div>
          <div class="text-note ion-margin-bottom">
            necessitatibus rem, voluptas saepe quisquam doloribus adipisci aut voluptates ab veritatis? qui earum, assumenda,
          </div>
          <div>
            <div class="text-md text-red">
              Scanlob Team
            </div>
            <div class="text-note">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis saepe ab earum soluta, qui maxime. Consectetur
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div *ngIf="messages$ | async as messages" class="flex-col">
      <div *ngFor="let message of messages">

        <div class="flex item-center ion-justify-content-start ion-padding" *ngIf="message.user_id != authUser.user.userId">

          <div>
            <div class="flex ion-align-items-end">
              <div class="profile-img">
                <img src="../../../../../assets/avatar.png" alt="">
              </div>
              <div class="sended-message">
                <div>
                  {{message.body}}
                </div>
              </div>
            </div>

            <div class="flex ion-align-items-end ion-justify-content-start timestamp">
              <div class="">
                {{message.created_at}}
              </div>
              <ion-icon name="checkmark-done-outline"></ion-icon>
            </div>

          </div>

        </div>

        <div class="flex item-center ion-justify-content-end ion-padding" *ngIf="message.user_id == authUser.user.userId">
          <div>
            <div class="flex ion-align-items-end">
              <div class="received-message">
                <div>
                  {{message.body}}
                </div>
              </div>
              <div class="profile-img">
                <img src="../../../../../assets/avatar.png" alt="">
              </div>
            </div>

            <div class="flex ion-align-items-end ion-justify-content-end timestamp">
              <div class="">
                {{message.created_at}}
              </div>
              <ion-icon name="checkmark-done-outline"></ion-icon>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="outer-box">

    <div class="inner-box">

      <textarea  [(ngModel)]="body" placeholder="Votre message"></textarea>
      <label (click)="sendMessage()">
        <ion-icon name="chevron-forward-outline" color="light"></ion-icon>
      </label>
    </div>
  </div>
</ion-content>
